.btn-hero {
    margin-top: 2rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    text-transform: uppercase;
    border: none;
    background-color: var(--cor-botao);
    color: var(--cor-texto);
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 4px 4px 0 var(--cor-header-bg);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    text-decoration: none;
}

.btn-hero:hover {
    background-color: var(--cor-botao-hover);
    transform: scale(1.05);
    box-shadow: 6px 6px 0 var(--cor-header-bg);
}

.btn-alugar {
    margin-top: 1.5rem;
    background-color: #2d1d0f;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-family: 'Press Start 2P', cursive, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.btn-alugar:hover {
    background-color: var(--cor-botao-hover);
    transform: scale(1.05);
    box-shadow: 6px 6px 0 var(--cor-header-bg);
}

.icon-buy {
    height: 30px;
    width: auto;
}

.card-jogo {
    width: 22%;
    min-width: 220px;
    height: auto;
    max-height: 30rem;
    background-color: var(--cor-hero);
    border: solid 4px var(--cor-botao-hover);
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 1px 0 var(--cor-black);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-jogo img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.card-jogo:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 0 var(--cor-black);
}

.filtro-jogadores {
    width: 200px; /* ou o tamanho que quiser */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#slider-jogadores {
    width: 100%;
    -webkit-appearance: none;
    height: 10px;
    background: var(--cor-hero);
    border: 2px solid var(--cor-botao-hover);
    border-radius: 8px;
    outline: none;
    box-shadow: 4px 4px 0 var(--cor-header-bg);
    cursor: pointer;
    transition: background 0.3s;
}

#slider-jogadores::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: var(--cor-botao-hover);
    border: 2px solid var(--cor-header-bg);
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
}

#slider-jogadores::-webkit-slider-thumb:hover {
    transform: scale(1.5);
}

#valor-jogadores {
    font-family: 'Press Start 2P', cursive, sans-serif;
    font-size: 1rem;
    color: var(--cor-texto);
    text-align: center;
    min-width: 140px;
    margin-top: 1rem;
}

.line {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    border-radius: 3px;
    margin: 2rem 0 3rem 0;
    gap: .5rem;
}

.torch {
    width: 7%;    
}

.torch-line {
    margin: 10px 0 0 0;
    width: 90%;
    height: 2px;
    background-color: var(--cor-botao-hover);
}